html,
body {
  margin: 0;
  padding: 0;
  /* min-width: 100vw; */
  background-color: black;
  font-family: "Asimovian";
}

canvas {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  display: block;
  /* centers my canvas */
  /* width: 100vw;
  height: auto;
  display: block; */
  margin-bottom: 10%;
  /* border-style: outset;
  border-width: 5px;
  border-color: peru; */
}

.main-wrapper {
  width: 100vw;
  /* spadding-left: 20%; */
  padding: 50px 0;
  margin: 0;

  position: relative;
  text-align: center;
  color: white;
}

#text {
  margin-left: 16%;
  margin-right: 16%;
  font-size: 30px;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 5%;
}

#instructions {
  margin-left: 18%;
  margin-right: 18%;
  text-align: justify;
  font-size: 25px;
  line-height: 1.5;
}

h1 {
  font-size: 120px;
  color: peru;
  font-family: "Libre Barcode 128 Text";
}



.asimovian-regular {
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.libre-barcode-128-text-regular {
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
}